
.about-container {
  box-sizing: border-box;
  padding: 6.5rem 15rem 6.5rem ;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;

}

.about-title {
  color: black;
  margin-bottom: 3rem;
}

.about-title h2 {
  font-size: 1.7rem;
  padding: 0 0 0.3rem 0;
  margin: 0;
  border-bottom: 3px solid var(--purple);
}

.about-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  box-sizing: border-box;
  width: 65%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.about-text p span {
  font-weight: bold;
}

.about-text h3 {
  margin: auto;
  font-size: 1.9rem;
  margin-bottom: 1rem;
}

.about-text p {
  margin: 0;
  font-weight: 500;
}

.about-things h3{
  margin: 3rem 0 3rem 0;
  font-size: 1.7rem;
  text-align: center;
}

.about-education {
  text-align: start;
  display: flex;
}

.about-education p{
  font-size: 0.9rem;  
}

.about-education li {
  list-style: none;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1),
    0 4px 6px -4px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 2rem;
  width: 20rem;
  margin: 0 3rem;
  display: flex;
}

.about-education li a{
  display: flex;
  align-items: center;
  margin-left: 3.5rem;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 1400px) {
  .about-container {
    padding: 3rem 1.5rem 6.5rem 1.5rem;
  }
  .about-text {
    width: 37rem;
  }
  .about-text h3 {
    font-size: 1.5rem;
  }
  .about-text p {
    font-size: 0.8rem;
  }

  .about-education {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 6rem;
  }
}

@media only screen and (max-width: 1070px) {
  .about-container-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .about-text h3,
  .about-text p {
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .about-container {
    padding: 6.5rem 4.5rem;
  }
  .about-text {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .about-container {
    padding: 6.5rem 1.5rem;
  }
  .about-title h2 {
    font-size: 1.3rem;
  }
  .about-text h3 {
    font-size: 1rem;
  }
  .about-text p {
    font-size: 0.8rem;
  }

  .about-education li {
    width: 100%;
  }
}




